# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
terraform.tfstate*

# Artifacts de build
*.zip
backend/*.zip
terraform/*.zip

# Python (para testes locais futuros)
__pycache__/
*.py[cod]
.pytest_cache/
.env